@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#app {
  position: relative;
  height: 100vh;
  width: 100vw;
  max-height: -webkit-fill-available;

  @media not all and (min-resolution: 0.001dpcm) {
    height: 100dvh;
  }
}